{
	"Serilog": {
		"MinimumLevel": {
			"Default": "Debug",
			"Override": {
				"Microsoft": "Debug"
			}
		}
	},
	"Turbo": {
		"DatabaseHost": "localhost",
		"DatabaseUser": "root",
		"DatabasePassword": "",
		"DatabaseName": "turbo",
		"DatabaseLoggingEnabled": true,
		"FloodMessageLimit": 3,
        "FloodTimeFrameSeconds": 10,
        "FloodMuteDurationSeconds": 30
	}
}